body{
  padding: 20px;
}
nav ul{
  list-style: none;  
  display: flex;
  flex-direction: column;
  gap:10px;
  padding-left: 10px;
  li{
    background:#ebebeb;
    padding: 5px 10px;
    border-radius:10px;
    a{
      text-decoration: none;
      color:#000;
    }
  }
}
article{
  background: #fff;
  padding: 20px 30px;
  box-shadow: 0 0 5px rgba(0,0,0,.2) ;
  border-radius:20px;
  margin-bottom: 20px;
}
